

body {
    padding-top: 60px;
    padding-bottom: 30px;
    overflow-y: scroll;
}

.plugin-count {
    margin-left: .5em;
}

.environment {
    color: #008000;
    font-weight: bold;
}

.navbar .navbar-brand {
    color: #c00;
}