

.col-plugin-name {
    width: 15%;
}

.col-message-name {
    width: 20%;
}

.col-select {
    width: 1%;
}

.plugin-message-area {
    font-family: consolas, courier, monospace;
    line-height: 1.3;
}

.search-fieldset {
    margin-bottom: 1em;
}