<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Salsa{{#if title}} :: {{title}}{{/if}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script>
        window.app = {
            pluginMessageID: "{{pluginMessageID}}",
            pluginID       : "{{pluginID}}",
            env            : "{{env}}",
            accountID      : "{{accountID}}"
        };
    </script>
    
    <link rel="stylesheet" 
          href="/build/screen.min.css" 
          type="text/css" />
    
    <link href="//fonts.googleapis.com/css?family=Permanent+Marker|Trocchi|Fjalla+One" 
          rel="stylesheet" 
          type="text/css" />
</head>
<body>
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Salsa</a>
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {{#if isHomepage}}class="active"{{/if}}><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            
                    <li class="dropdown{{#if isPluginsPage}} active{{/if}} hidden plugins-dropdown">
                        <a href="/plugins" 
                           class="dropdown-toggle" 
                           data-toggle="dropdown"><span class="glyphicon glyphicon-align-justify"></span> Plugins <span class="badge plugin-count hidden">0</span> <span class="caret"></span></a>
                        
                        <ul class="dropdown-menu plugins-menu" role="menu"></ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right account-info-container"></ul>                
            </div>
        </div>
    </div>
    
    <div class="container">
        {{{body}}}
    </div>

    <div class="loading-spinner"></div>
    <!--<script src="/build/app.min.js"></script>-->    
</body>
</html>