<div class="row">
    <figure class="col-md-3">
        <div class="avatar-container">
            <img src="/images/avatars/thumbnail/{{account.avatar_filename}}" alt="Account avatar">
            
            <figcaption class="avatar-options-overlay">swag</figcaption>
        </div>
        
        <form id="account-profile-avatar-form" class="hidden">
            <input type="hidden"
                   class="account-avatar-filename">
        </form>
    </figure>
    
    <div class="col-md-9">
        <h1 class="profile-header">Profile for {{account.name}}</h1>
        
        <ul class="list-unstyled profile-details-list">
            <li>
                {{#if account.active}}
                    <label class="label label-success">Active</label>
                {{else}}
                    <label class="label label-default">Inactive</label>
                {{/if}}
            </li>
            
            <li>
                <span class="glyphicon glyphicon-time"></span> 
                Account created <abbr title="{{account.created_at}}">{{createdAtFormatted}}</abbr>
            </li>
            
            <li>
                <span class="glyphicon glyphicon-time"></span> 
                Account updated <abbr title="{{account.updated_at}}">{{updatedAtFormatted}}</abbr>
            </li>
        </ul> 
    </div>
</div>