<h1>Profile for {{account.name}}</h1>

<ul class="list-unstyled profile-details-list">
    <li>
        {{#if account.active}}
            <label class="label label-success">Active</label>
        {{else}}
            <label class="label label-default">Inactive</label>
        {{/if}}
    </li>
    
    <li>
        <span class="glyphicon glyphicon-time"></span> 
        Account created <abbr title="{{account.created_at}}">{{createdAtFormatted}}</abbr>
    </li>
    
    <li>
        <span class="glyphicon glyphicon-time"></span> 
        Account updated <abbr title="{{account.updated_at}}">{{updatedAtFormatted}}</abbr>
    </li>
</ul> 