<header>
    <h1>Plugin Message Editor</h1>
    <p>This tool allows you to edit, preview, and compile Handlebars templates.</p>
</header>

<div class="editor-container">
    <form method="post" action="" id="editor-form">
        <div class="preview">
            <p class="preview-message">
                <span class="nick">&lt;@guacbot></span> 
                <span id="preview-text">Your preview will appear here once your message has been compiled.</span>
            </p>
            
            <p class="preview-message error hidden"></p>
        </div>
        
        <div class="editor">
            <div class="row clearfix">
                <div class="col-lg-6">
                    <label for="message" class="lbl">Plugin Message</label>
                    <p class="help-block hint">The below input will be compiled by Handlebars</p>
                    
                    <textarea class="txt" name="message" id="message" placeholder="Enter plugin message here"></textarea>
                </div>
                
                <div class="col-lg-6">
                    <label for="message" class="lbl">Data</label>
                    <p class="help-block hint">Optional JSON data to include in the template.</p>
                    
                    <textarea class="txt" name="data" id="data" placeholder="Enter JSON for any variables you want to include in this message"></textarea>
                </div>
            </div>
            
            <div class="row clearfix">
                <button type="submit" class="btn btn-success compile-button pull-right"><span class="glyphicon glyphicon-cog"></span> Compile</button>
            </div>
        </div>
    </form>
</div>