<div class="row">
    <div class="col-md-9">
        <h1>Accounts</h1>
    </div>
    
    <div class="col-md-3 account-controls">
        <div class="btn-group pull-right">
            <a href="/accounts/new"
               class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> New Account</a>
        </div>
    </div>
</div>

<div class="list-container">
    <div class="progress loading">
        <div class="progress-bar progress-bar-info progress-bar-striped" 
             role="progressbar" 
             aria-valuenow="100" 
             aria-valuemin="100" 
             aria-valuemax="100" 
             style="width: 100%"></div>
    </div>
</div>


<script data-main="/javascripts/app/modules/accounts/list/main" src="/javascripts/lib/require.min.js"></script>