<h1>{{plugin.name}} <small>{{name}}</small></h1>

<div class="row">
    <div class="col-md-2">
        <div class="row compile-area">
            <div class="col-md-12">
                <button type="button" 
                        class="btn btn-sm btn-default pull-right recompile-button"><span class="glyphicon glyphicon-cog"></span> Compile</button>
            </div>
        </div>
        
        <div class="list-group related-messages">
            <!--
            <a href="#" class="list-group-item active">
                saaaaaaaved
            </a>
            
            <a href="#" class="list-group-item">saved</a>
            <a href="#" class="list-group-item">saved</a>
            <a href="#" class="list-group-item">saved</a>
            <a href="#" class="list-group-item">saved</a>
            -->
        </div>
    </div>
    
    <div class="col-md-10">
        <div class="row parse-error-container hidden">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <strong>Warning!</strong> There was a problem parsing your message.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="subheader">Preview</h2>
                    
                <div class="message-preview monospace">
                    {{{compiledMessage}}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2 class="subheader">Message</h2>
                <p class="help-block">The raw, unparsed contents of the message. This message is compiled by Handlebars.</p>
                
                <form method="post" action="">
                    <div class="form-group message-container">
                        <textarea class="form-control message monospace parse-me" 
                                  data-container=".message-container"
                                  rows="5">{{message}}</textarea>
                        <p class="help-block">Some words are surrounded by strings like <code>\u0002</code>. This is the formatting code for bold and colors in the IRC protocol.</p>
                    </div>
                </form>
            </div>
            
            <div class="col-md-6">
                <h2 class="subheader">Template Variables</h2>
                <p class="help-block">The properties of this object are available in the template.</p>
                
                <div class="form-group template-object-container">
                    <textarea class="form-control template-object monospace parse-me" 
                              data-container=".template-object-container"
                              rows="10">{{templateObject}}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>




    