<td class="col-name">
    {{#if active}}
        <a href="/accounts/{{guid}}" title="View account profile">{{name}}</a>
    {{else}}
        {{name}}
    {{/if}}
</td>

<td class="col-updated-at">    
    <abbr class="timeago" title="{{updated_at}}">{{updated_at}}</abbr>
</td>

<td class="col-created-at">    
    <abbr class="timeago" title="{{created_at}}">{{created_at}}</abbr>
</td>

<td>
    {{#if active}}
        <label class="label label-success">Active</label>
    {{else}}
        <label class="label label-default">Inactive</label>
    {{/if}}
</td>